#content {
    max-width: unset;
    margin-left: 1rem;
    margin-right: 1rem;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.posts .post {
    padding: 1em 1em;
    margin-bottom: 1em;
}

@media (min-width : 1000px) {
    .posts .post {
        max-width: 50%;
    }
}
@media (min-width : 1550px) {
    .posts .post {
        max-width: 33%;
    }
}
