body.sepia-theme {
    --theme-color: rgb(244, 236, 216);
    --theme-text-color: rgb(43, 59, 71);
    --theme-header-color: rgb(166, 133, 52);
    --theme-title-color: var(--theme-header-color);
    --theme-small-title-color: var(--theme-color);
    --theme-sidebar-checkbox-color: var(--theme-color);
    --theme-sidebar-toggle-color: var(--theme-color);
}

/* Text color for this theme rgb(43, 59, 71)*/
/* Background color rgb(244, 236, 216)*/
.posts .post {
    /* TODO grab the theme color*/
    box-shadow: 5px 5px var(--theme-color);
    border-radius: 2em;
}

.posts .post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width : 38em) {
    .posts .post  header{
        flex-direction: column-reverse;
    }
}
