.content > article.post-post > header {
    float: left;
}

.content > article.post-post .clear {
    clear: left;
}

.content > article.post-post .preview {
    float: right;
    max-width: 400px;
}

.content > article.post-post .extra-meta {
    display: flex;
    align-items: baseline;
}

.content > article.post-post .extra-meta .reading-time{
    padding-left: 1em;
    color: #9a9a9a;
}

.content > article.post-post .extra-meta * {
    font-style: italic;
}
